@import url('./reset.css');
@import url('./global.css');
@import url('./components/_navigator.css');
@import url('./components/_pills.css');
@import url('./components/_link-button.css');
@import url('./components/_gallery.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.s-wrapper video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que o vídeo cubra o fundo sem distorção */
    top: 0;
    left: 0;
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    top: 0;
    left: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 130px;
}

.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navigator ul li {
    margin: 60px 0;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li:last-child a {
    font-size: 10px;
}

.navigator ul li a {
    color: white;
    border: solid 2px white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.navigator ul {
    z-index: 1;
}

.navigator ul li a:hover,
.navigator ul li a.active {
    color: var(--primary-color);
    background-color: white;
}

.navigator .navigator__icon {
    position: absolute;
    top: -20px;
}

.s-wrapper .s-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, .7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p {
    color: white;
    line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 20px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
    display: flex;
    flex-direction: row;
}

/* Estilo da galeria de imagens */
.s-main-content__bottom .gallery ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a linha seguinte em telas menores */
}

.s-main-content__bottom .gallery ul li {
    flex: 1;
    margin: 0 10px;
    min-width: 100px; /* Ajuste conforme necessário para se adaptar ao layout */
}

.s-main-content__bottom .gallery ul li img {
    width: 100%;
    height: 200px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Mantém a proporção da imagem e cobre o contêiner */
}

